/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;

  .search-input {
    width: 800px;
    height: 40px;
    font-size: 17px;
    margin: 0 auto;
  }

  .search-button {
    width: 70px;
    margin-left: 5px;
  }

  .content {
    margin: 0 15px;
  
    .header {
      background-color: rgb(63, 178, 207);
      width: 1200px;
      height: 300px;
      margin: 0 auto;
      text-align: center;

      .header-title {
        color: #ffffff;
        text-align: center;
        padding: 85px 0 0 0;
      }
    }
  
    .content-body {
      width: 1200px;
      margin: 0 auto;
      background-color: #ddd;

      .content-table {
        width: 1100px;
        margin: 0 auto;
        background-color: #ffffff;

        table {
          td {
            word-break: break-all;
          }
        }
      }
    }
  }
}
